<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
</head>
<body>
<h1>Offer Details</h1>
    <ul>
        <li>Offer Id: <%= offer_id %></li>
        <li>StoreFront Id: <%= storefront_id %></li>
        <li>current_price: <%= current_price %></li>
    </ul>
</body>
</html>