<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
</head>
<body>
<h1>Get Item Price</h1>
<form name="getitemprice" method="post" action="/getitemprice">
    <div>
        <input id="inputOfferId" type="text" placeholder="offer_id" name="offer_id">
    </div>
    <div>
        <input id="inputStoreFrontId" type="text" placeholder="storefront_id" name="storefront_id">
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>
</body>
</html>